* {
  box-sizing: border-box;
}
body {
  background: #eee;
  color: $text-black;
}
input {
  box-sizing: border-box;;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  border-radius: 0;
  background: none;
  padding: 3px;
  cursor: pointer;
}

.mt1 {
  margin-top: 1rem;
}