$text-light: #B4B4B4;
$text-gray: #868686;
$text-black: #222222;

$accent-color: #4DD599;

$color-gray: #C9D1D3;
$color-green: #42B883;
$color-blue: #64C4ED;
$color-pink: #FFBBCC;
$color-light_green: #B6E6BD;
$color-purple: #C355F5;
$color-orange: #f79a0f;
$color-red: #FF6464;